@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
:root{
    --bck-color:#081b29;
    --main-color:#00abf0;
    --white-color: #fff;
    --secmain-color: #d3d2d2;
    --black-color:#000;
}
html{
    font-size: 70%;
}
body {
    
    background-color: var(--bck-color);
    }

/*
Pagina principal
*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 20px;
    color: var(--white-color);
    
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.activo{
    color: var(--black-color);
}

.logo{
    position: relative;
    font-size: 30px;
    color:var(--secmain-color);
    text-shadow:
        -1px  1px 0 var(--black-color),
         1px  1px 0 var(--black-color);  
    text-decoration: none;
    font-weight: 700;

}

.logo::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .2s;
    background:var(--main-color);
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bck-color);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active{
    visibility: visible;
    opacity: 1;
    overflow: auto;
}


.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-img .img-box{
    position:relative;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent,transparent,transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 7s linear infinite;
}
.home-img .img-box::after{
    animation-delay: -3.5s;
}

@keyframes rotate-border {
    100%{
        transform: rotate(360deg);
    }
}


.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 112%;
    background: var(--bck-color);
    border-radius: 50%;
    border: .01rem solid var(--bck-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img
{
    position: absolute;
    top: 3rem;
    display: block;
    width: 94%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.home-content{
    max-width: 55rem;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
    background:var(--bck-color);
}

.home-content h1{
    position: relative;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--white-color);
}
.home-content h2{
    font-size: 4.8rem;
    color: var(--main-color);
     text-shadow:
        -1px -1px 0 var(--white-color),
         1px -1px 0 var(--white-color),
        -1px  1px 0 var(--white-color),
         1px  1px 0 var(--white-color); 
    
}
.home-content p{
    font-size: 2.2rem;
    color: var(--white-color);
    margin: 1rem 0 2rem;
    line-height: 2.5rem;
}

.home-content .btn-sci{
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    background: var(--main-color);
    border:.2rem solid var(--main-color);
    border-radius: 2rem;
    box-shadow: .1rem .1rem 3rem var(--main-color);
    font-size: 1.7rem;
    color: var(--bck-color);
    font-weight: 500;
    transition: .4s;
    text-decoration: none;
}
.btn:hover{
    background:transparent;
    color: var(--main-color);
    box-shadow: none;
}

.iconos{
    position: absolute;
    bottom: 50px;
    width: 200px;
    background: var(--bck-color);
}
.iconos a{
  
    font-size: 35px;
    color: var(--bck-color);
    margin: 0 5px;
    transition: .3s;
    text-shadow:
        -1px -1px 0 var(--main-color),
         1px -1px 0 var(--main-color),
        -1px  1px 0 var(--main-color),
         1px  1px 0 var(--main-color); 
  
}

.Home-img{
    background: var(--black-color);
    opacity: 0.5;
}

@keyframes showRight{
    100%{
        width: 0;}
}

.heading{
    font-size: 4,5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.heading span{
    color: var(--main-color);}
/*
    Seccion Sobre Mi 
*/

.SobreMi-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.SobreMi-container .SobreMi-box{
    padding: 2rem 3.5rem;
    background: var(--secmain-color);
    border: .2rem solid var(--white-color);
    border-radius: 6rem;
}
.SobreMi-container .SobreMi-box:hover{
    border-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: translateY(-.5rem);
    transition: .4s;
}
.SobreMi h2.heading{
    font-size: 3.5rem;
    margin-bottom: 8rem;
}

.SobreMi-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SobreMi-box .icon i{
    font-size: 4.8rem;
    color: var(--main-color);
    transition: .4s;
}

.SobreMi-box:hover .icon :not(a i)
{
    color: var(--black-color);
}

.SobreMi-box .icon a{
    display:  inline-flex;
    background: var(--white-color);
    scale: 1.4;
    border-radius: 50%;
    padding: 0.2rem;
    text-decoration: none;
}
.SobreMi-box:hover .icon a
{
    background: var(--main-color);
     
}

.SobreMi-box .icon a i{
    font-size: 3rem;
    color: var(--bck-color);
    transform: rotate(225deg);
   }
.SobreMi-box .icon a:hover i{
    transform: rotate(180deg);
}

.SobreMi-box h3{
    font-size: 2.3rem;
    color: var(--black-color);
    margin: .5rem 0 1rem;
}
.SobreMi-box:hover h3
{
    color: var(--main-color);
}
.SobreMi-box p{
    font-size: 1.5rem;
    color: var(--black-color);
    line-height: 1.5rem;
    text-align: justify;
}

/*
    Seccion Conocimientos
*/
.experiencia-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.experiencia-box{
    text-align: center;   
}

.experiencia-box h2{
    font-size: 3.5rem;
}
.experiencia-box h2.cono{
    font-size: 4rem;
       text-shadow:
        -1px -1px 0 var(--white-color),
         1px -1px 0 var(--white-color),
        -1px  1px 0 var(--white-color),
         1px  1px 0 var(--white-color);
} 
.experiencia-box p{
    font-size: 1.6rem;
    color: var(--white-color);
}
.experiencia-box .desc{
    margin: 2rem 0 2.5rem;
}
.experiencia-box .experiencia-btn{
    width: 90%;
    height: 5.3rem;
    background: var(--secmain-color);
    border: .1rem solid var(--secmain-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 1rem;
    border-radius: 2.8rem;
    cursor: pointer;
}
.experiencia-btn.active{
    border-color: var(--main-color);
    color: var(--main-color);
}

.experiencia-detail{
    display: none;
}
.experiencia-detail.active{
    display: block;
}

.experiencia-box .heading{
    font-size: 3.5rem;
    text-align: center;
}

.experiencia-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}
.experiencia-list::-webkit-scrollbar{
    width: .7rem;
}
.experiencia-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}
.experiencia-list:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.experiencia-list .experiencia-item{
    background: var(--secmain-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem)/1.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experiencia-item .year{
    font-size: 1.8rem;
    color: var(--main-color);
    margin-top: -5rem;
    margin-bottom: .5rem;
}
.experiencia-item h3{
    font-size: 2.2rem;
    color: var(--black-color);
    margin-bottom: .5rem; 
}
.experiencia-item .empresa{
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.experiencia-item .empresa::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    padding: .3rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

/*
EXPERIENCIA SKILLS
*/

.experiencia-detail.skills .experiencia-list{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.experiencia-detail.skills .experiencia-item{
    height: relative;
    align-items: center;
    height: auto;
}
.experiencia-detail.skills .experiencia-item i{
    font-size: 8.5rem;
    transition: .5s;
}
.experiencia-detail.skills .experiencia-item:hover i{
    color: var(--main-color);
}
 .experiencia-detail.skills .experiencia-item span{
    position:relative;
    top: 10%;
    background: var(--main-color);
    color: var(--black-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: 1.6rem;
    pointer-events: none;
    opacity: 0;
    transition: scale(.9);
    transition: .3s;
}

.experiencia-detail.skills .experiencia-item:hover span{
    opacity: 1;
    transition: scale(1);
}